body { background-image:url(https://lh5.googleusercontent.com/proxy/aqF6D6rx0MYeOqj63_mlEecqeDULKc8GhRqQfBLWxiU1l1vYg1lsdsKbG9-JbFa5PiYpenfvjmazZNwvJNUPvqrZ_0rP928OaMu_KbfrePCq-Q_LHi6ttQQJ2oKIC9LtohxCUMIVROuS6_9PrXDugkSBTFyc694=w1080-h624-n-k-no);
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: cover;
    }
body {color: rgb(255, 2, 2);}
body {font-family: Georgia, 'Times New Roman', Times, serif;}
ul.a {list-style-type: square;}
ol.b {list-style-type: upper-roman;}